<!DOCTYPE html>

<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">

        <div class="jumbotron">
          <h1>Edit Your URL</h1>
            <a href="<%= shortURL %>">
            http://tinyapp.com/u/<%= shortURL %>
            </a>
            - <%= longURL %>
            <form method="POST" action="/urls/<%= shortURL %>/update">
              <input type ="submit" value="Update" style="margin:6px;">
              <input longURL="longURL" type="text" name="longURL" placeholder="www." style="width: 300px">
            </form>
          <form method="POST" action="/urls/<%= shortURL %>/delete">
            <input type="submit" value="Delete" style="margin:6px;">
          </form>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="well">
          <a href="new">
            <h3>Shorten a URL</h3>
          </a>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
